{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th colspan="4">
                    <h1 style="margin-left: 40%;color: black">请假条</h1>
                </th>
            </tr>
            <tr>
                <th>请假人</th>
                <td><input type="text" name="username" placeholder="请输入姓名" class="form form-control-range form-control">
                </td>
                <th>请假类型</th>
                <td>
                    <select name="type" class="form form-control-range form-control">
                        <option value="相亲假">相亲假</option>
                        <option value="产假">产假</option>
                        <option value="事假">事假</option>
                        <option value="病假">病假</option>
                        <option value="缺勤">缺勤</option>
                        <option value="出差">出差</option>
                        <option value="婚假">婚假</option>
                    </select>
                </td>

            </tr>
            <tr>
                <th>开始时间</th>
                <td><input type="date" name="start" class="form form-control-range form-control"></td>
                <th>结束时间</th>
                <td><input type="date" name="end" class="form form-control-range form-control"></td>

            </tr>
            <tr>
                <th>联系方式</th>
                <td><input type="text" name="phone" class="form form-control-range form-control"></td>
                <th>请假天数</th>
                <td><input type="number" name="day" class="form form-control-range form-control"></td>

            </tr>
            <tr>
                <th>描述</th>
                <td colspan="3"><textarea placeholder="请输入请假描述" name="dec"
                                          class="form form-control-range form-control"></textarea></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-block btn-secondary">
    </form>
{% endblock %}